@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    font-family: Raleway, sans-serif;
    margin: 0;
    padding: 0;
    animation: fadein 0.2s;
    box-sizing: border-box;
}

header {
    background: #c8ff00;
    padding: 16px;
    color: black;
    position: sticky;
    width: 100%;
    top: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper .container {
    width: 1024px;
    border-radius: 8px;
    margin: 16px;
    background: #F8F9FA;
    padding: 16px;
    flex-grow: 1;
    height: fit-content;
}

.item {
    border-radius: 16px;
    margin-top: 16px;
    padding: 12px 24px 12px 24px;
    background: white;
    width: 30vw;
    display: flex;
    align-items: center;
}

.item > .inner h2 {
    margin-bottom: unset;
}

.item > .inner p {
    margin-top: 5px;
}

.form {
    display: flex;
    padding: 16px;
    flex-direction: column;
    height: 300px;
    border-radius: 16px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 4px;
    font-size: 18px;
    font-weight: lighter;
}

.shadow {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.548), 0 25px 40px rgba(166, 173, 201, .2);
}
header a{
    text-decoration: none;
    color: black;
}
#searchSubmit{
    padding: 16px;
    font-weight: 600;
    border-radius: 0 1rem 1rem 0;
    font-size: 16px;
    border: #708f00 2px solid;
}
#searchSubmit:hover{
    background-color:#9bc504;
    color: white;
}
#searchBookTitle{
    border-radius: 1rem 0 0 1rem;
}
input[type=text], input[type=date] , input[type=number]{
    font-family: Raleway, sans-serif;
    background: #F5F1FF;
    border: 2px solid #708f00;
    border-radius: 8px;
    padding: 16px;
    width: 30vw;
    box-sizing: border-box;
    margin-bottom: 8px;
    font-size: 16px;
}
.btn-submit {
    max-width: 12vw;
    font-family: Raleway, sans-serif;
    border-radius: 16px;
    padding: 8px 0px;
    border: 2px solid #729200;
    color: black;
    font-size: 14px;
    transition: all 0.2s ease;
    font-weight: 600;
    margin-top: auto;
    float: right;
    align-self: flex-end;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.btn-submit:hover {
    background: #9bc504;
    color: white;
}

input[type=text], input[type=date], .btn-submit:focus {
    outline: none;
}

.text-center {
    text-align: center;
}

.form-title {
    margin: auto 0;
}

.check-button {
    background: url('assets/check-circle-regular-24.png');
    background-size: contain;
    width: 40px;
    height: 40px;
    margin-left: 16px;
    cursor: pointer;
    border: none;
}

.check-button:hover {
    background: url('assets/check-circle-solid-24.png');
    background-size: contain;
}

.trash-button {
    background: url('assets/trash-regular-24.png');
    background-size: contain;
    width: 40px;
    height: 40px;
    margin-left: auto;
    cursor: pointer;
    border: none;
}

.trash-button:hover {
    background: url('assets/trash-solid-24.png');
    background-size: contain;
}

.undo-button {
    background: url('assets/undo-regular-24.png');
    background-size: contain;
    width: 40px;
    height: 40px;
    margin-left: auto;
    cursor: pointer;
    border: none;
}
.edit-button {
    background: url('assets/edit-alt-regular-24.png');
    background-size: contain;
    width: 40px;
    height: 40px;
    margin-left: auto;
    cursor: pointer;
    border: none;
}
.edit-button:hover {
    background: url('assets/edit-alt-solid-24.png');
    background-size: contain;
}


.check-button:focus, .trash-button {
    outline: none;
}

@media only screen and (max-width: 1024px) {
    .wrapper {
        margin: 0;
    }

    .wrapper .container {
        width: 100%;
    }

    .list-item {
        width: 90%;
    }

    .form {
        width: 100%;
    }
}
.toast {
  visibility: hidden;
  min-width: 250px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 17px;
}

.toast.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
